server_names_hash_bucket_size 128;

server {
  listen 80;
  rewrite ^(.*) https://$host$1 permanent;
}

server {
  listen 443;
  server_name {{web_server}};

  ssl on;
  ssl_certificate /etc/nginx/monitoring.crt;
  ssl_certificate_key /etc/nginx/monitoring.key;

  location / {
    root /opt/lighthouse-web;
    try_files $uri /index.html;
  }
}

server {
  listen 443;
  server_name {{api_server}};

  ssl on;
  ssl_certificate /etc/nginx/monitoring-api.crt;
  ssl_certificate_key /etc/nginx/monitoring-api.key;

  location / {
    proxy_pass http://127.0.0.1:3000;
    proxy_set_header Host $http_host;
  }
}

server {
  listen 8000;

  location / {
    uwsgi_pass unix:/tmp/uwsgi.sock;
    include uwsgi_params;
  }
}
